<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">Image Url:</label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description"> Description</label>
            <textarea type="text" id="description" row="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientctrl of recipeForm.get('ingredients').controls;let i=index" [formGroupName]="i" style="margin-top:10px">
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <button type="button " class="btn btn-success" (click)="onAddIngredient()">Add Ingredients</button>
        </div>
      </div>

    </form>
  </div>
</div>