<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-offset">
      <form #f="ngForm" (ngSubmit)="onSignup(f)">
          <div class="form-group ">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" ngModel>
            <label for="password"> password</label>
            <input type="password" id="password" name="password" class="form-control" ngModel>  
          </div>
          <button class="btn btn-primary">sing up</button>
        </form>
  </div>
</div>
