<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink='/recipes'>Recipes</a></li>
        <li routerLinkActive="active"><a routerLink='/shopping-list' >Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
            <li><a routerLink='/signup'>singup</a></li>
            <li><a routerLink='/signin'>singin</a></li>    
        </ng-template>
        
               <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a  class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()">Save Data</a></li>
            <li><a (click)="onFetch()">Fetch Data</a></li>
          </ul>
        </li>

        <li *ngIf="authService.isAuthenticated()"><a (click)="onlogout()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
